/* Navigation Bar */

nav {
  font-weight: bold;
}

#products a, #services a {
  color: #03a9f4;
}

#products-and-services > li {
  padding-left: 15px;
}


/* Content */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}