/* Navigation Bar */

#nav-mobile {
  font-weight: bold;
}

.collapsible-body {
  font-weight: normal;
}

.dropdown-content li a {
  color: #03a9f4;
}


/* Content */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}


/* Footer */
#connect {
  text-shadow: 1px 1px 2px black;
}
#connect li {
  padding: 5px 0px;
}
#contact-card {
  max-width: 500px;
}
#contact-info {
  padding: 0px 10px;
}