/* Base */

html {
  font-size: 1em;
}

/* Large Devices */
h1 {font-size: 3.157em; margin-bottom: -0.05em;}

h2 {font-size: 2.369em; margin-bottom: -0.05em;}

h3 {font-size: 1.777em; margin-bottom: -0.05em;}

h4 {font-size: 1.333em; margin-bottom: -0.05em;}

small, .font_small {font-size: 0.75em;}

.caption {
  font-size: 1.2em;
}

/* Medium Devices */
@media only screen and (max-width: 992px) {
  h1 {font-size: 2.441em;}

  h2 {font-size: 1.953em;}

  h3 {font-size: 1.563em;}

  h4 {font-size: 1.25em;}

  small, .font_small {font-size: 0.8em;}

  .caption {
    font-size: 1.1em;
  }
}
/* Small Devices */
@media only screen and (max-width: 600px) {
  h1 {font-size: 2.074em;}

  h2 {font-size: 1.728em;}

  h3 {font-size: 1.44em;}

  h4 {font-size: 1.2em;}

  small, .font_small {font-size: 0.833em;}

  .caption {
    font-size: 1em;
  }
}


.header {
  font-weight: bold;
}

/* Icon Block */
.icon-block-wrapper {
  position: relative;
  top: -20px;
}
.icon-block i {
  font-size: 1.5em;
}



/* Navigation Bar */

ul.side-nav {
  overflow: hidden;
}
ul.side-nav li {
  line-height: 50px;
}
ul.side-nav li:hover, ul.side-nav li.active, {
  background-color: rgba(0, 0, 0, 0.1);
}
ul.side-nav li.logo {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  background-color: #03a9f4;
}
ul.side-nav li.logo:hover {
    background-color: ;
}
#logo-container {
  height: 57px;
  margin-bottom: 40px;
}
ul.side-nav li a {
  font-size: 13px;
  line-height: 50px;
  height: 50px;
}
ul.side-nav ul.collapsible-accordion {
  background-color: #FFF;
}
ul.side-nav:hover {
  overflow-y: auto;
}
.bold > a {
  font-weight: bold;
}
ul.side-nav a i {
    font-size: 1.3em;
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}
.dropdown-content li a {
  color: #03a9f4;
}

#top-logo {
    max-height: 80%;
    position: relative;
    top: .4rem;
}
.fixed-height {
    height: 100%;
    width: auto;
}
.fixed-width {
    width: 100%;
    height: auto;
}
#nav-mobile-logo {
    max-width: 100%;
}


/* Footer */

#connect {
  text-shadow: 1px 1px 2px black;
}
#connect > li {
  font-size: 1.25em;
  padding-bottom: 20px;
}
#connect > :last-child {
  padding-bottom: 0px !important;
}
#contact-info {
  padding: 0px 10px;
}


/* Contact */

.select-dropdown {
  max-height: 500%;
}
