/* Base */

body {
  font-size: 1rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.larger-text {
  font-size: 150%;
}

.page-title {
  font-size: 3rem;
}


/* Icon Block */

.icon-block-wrapper {
  position: relative;
  top: -20px;
}
.icon-block i {
  font-size: 1.5em;
}


/* Navigation Bar */

ul.side-nav {
  overflow: hidden;
}

ul.side-nav li.logo {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: #03a9f4;
  height: 100px;
  margin-bottom: 5px;
}

ul.side-nav li.logo img {
  width: 100%;
  max-width: inherit;
}

.collapsible {
  line-height: 50px;
}

ul.side-nav ul.collapsible-accordion {
  background-color: #FFF;
}
ul.side-nav:hover {
  overflow-y: hidden;
}
.bold > a {
  font-weight: bold;
}
ul.side-nav a i {
    font-size: 1.3em;
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}

/* Footer */

#connect {
  text-shadow: 1px 1px 2px black;
}
#connect > li {
  font-size: 1.25em;
  padding-bottom: 20px;
}
#connect > :last-child {
  padding-bottom: 0 !important;
}
#contact-info {
  padding: 0 10px;
}


/* Contact */

.select-dropdown {
  max-height: 500%;
}
