<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div id="service-msg" class="col s12 m12 l4 scrollspy">
        <h5 class="white-text">Dedicated to Service</h5>
        <p class="white-text">We do not benefit by recommending any particular course of action to our customers, so we only provide economically sound solutions that are specifically designed for your organization.</p>
        <div class="center">
          <a href="#top" class="btn">Back to Top</a>
        </div>
      </div>
      <div class="col s12 m4 l3 offset-l1">
        <h5 class="white-text">Connect</h5>
        <ul id="connect">
          <li><a class="blue-text text-lighten-2" href="#!"><i class="fa fa-fw">&#xf0e1;</i> LinkedIn</a></li>
        </ul>
      </div>
      <div class="col s12 m6 offset-m2 l4">
        <h5 class="white-text">Contact</h5>
        <div id="contact-card" class="card hoverable">
          <ul id="contact-info" class="fa-ul">
            <li><i class="fa fa-user fa-li"></i>C A Computer Systems</li>
            <li><i class="fa fa-phone fa-li"></i><a href="tel:310-477-0013">(310) 477-0013</a></li>
            <li><i class="fa fa-envelope-o fa-li"></i><a href="mailto:info@cacomputersystems.com" class="truncate">info@cacomputersystems.com</a></li>
          </ul>
          <p class="center-align"><a class="tooltipped" href="card.vcf" data-position="bottom" data-delay="50" data-tooltip="Save"><i class="fa fa-download"></i></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      ©
      <script type="text/javascript">
      var d = new Date()
      document.write(' '+d.getFullYear()+' ')
      </script>
      Copyright &middot; <em>C A Computer Systems</em>
    </div>
  </div>
</footer>

<!-- build:js(app) /js/scripts.js -->
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/polyfiller.js"></script>
<script src="/js/main.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/init.js"></script>
<!-- endbuild -->
<script async>webshim.polyfill('forms');</script>
