<header>
  <nav class="top-nav">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo fixed-height"><img id="top-logo" src="logo.png" /></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">About Us</a></li>
        <li>
          <a class='dropdown-button' href='#' data-beloworigin="true" data-activates='services' >
            Services<i class="fa fa-caret-down right"></i>
          </a>
        </li>
        <li>
          <a class='dropdown-button' href='#' data-beloworigin="true" data-activates='solutions' >
            Solutions<i class="fa fa-caret-down right"></i>
          </a>
        </li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>

      <ul id='services' class='dropdown-content'>
        <li><a href="#!">TBD</a></li>
      </ul>

      <ul id='solutions' class='dropdown-content'>
        <li><a href="#!">TBD</a></li>
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa">&#xf0c9;</i></a>

    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav">
    <li class="fixed-width logo"><a id="logo-container" href="/"><img id="nav-mobile-logo" src="logo.png" /></a></li>

    <li class="bold"><a href="/" class="waves-effect waves-orange"><i class="fa fa-fw">&#xf015;</i>Home</a></li>

    <li class="bold"><a href="/about" class="waves-effect waves-orange"><i class="fa fa-fw">&#xf129;</i>About Us</a></li>

    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-orange"><i class="fa fa-fw">&#xf07a;</i>Products</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">TBD</a></li>
            </ul>
          </div>
        </li>

        <li class="bold">
          <a class="collapsible-header waves-effect waves-orange"><i class="fa fa-fw">&#xf0c2;</i>Services</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">TBD</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li class="bold"><a href="/contact" class="waves-effect waves-orange"><i class="fa fa-fw">&#xf0e5;</i>Contact Us</a></li>
  </ul>
</header>
