<header>
  <nav class="top-nav">
    <div class="container">
      <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-large-only"><i class="fa">&#xf0c9;</i></a>
      <div class="nav-wrapper">
        {% if page.short-title %}
          <a class="page-title hide-on-small-only">{{ page.title }}</a>
          <a class="page-title hide-on-med-and-up">{{ page.short-title }}</a>
        {% else %}
          <a class="page-title">{{ page.title }}</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo"><a class="logo-container" href="/"><img src="/img/logo.png" /></a></li>

    <li class="bold"><a href="/" class="waves-effect waves-orange"><i class="fa fa-fw">&#xf015;</i>Home</a></li>

    <li class="bold"><a href="/about" class="waves-effect waves-orange"><i class="fa fa-fw">&#xf129;</i>About Us</a></li>

    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-orange"><i class="fa fa-fw">&#xf07a;</i>Products</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="/test">Test</a></li>
            </ul>
          </div>
        </li>

        <li class="bold">
          <a class="collapsible-header waves-effect waves-orange"><i class="fa fa-fw">&#xf0c2;</i>Services</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#">TBD</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li class="bold"><a href="/contact" class="waves-effect waves-orange"><i class="fa fa-fw">&#xf0e5;</i>Contact Us</a></li>
  </ul>
</header>
